$light-color: rgb(239, 234, 230);
$blue-color: rgb(134, 183, 188);
$beige-color: rgb(255, 245, 233);
$light-brown: rgb(197, 151, 117);
$brown-color: rgb(114, 69, 40);
$darkred-color: rgb(97, 25, 17);
$cream-color: rgb(201, 184, 173);
$violet: #6300BF;
$violet-dark: #14003F;
